/* Global */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.btn-primary {
    color: #0055A5 !important;
    padding: 10px 10px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
    font-weight: bold;
}
.btn-primary:hover {
    color: #ffffff !important;
    background-color: transparent;
}
section {
    margin-top: 100px !important;
}
.section-title {
    font-weight: bold;
    font-size: 35px;
}


/* Header */
header {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}
.header-text {
    margin: 180px 0 0 530px;
    width: 450px;
    height: 230px;
    text-align: right;
    padding-bottom: 250px;

}
header .header-title {
    color: white;
    font-weight: 800;
    font-size: 55px;
}
header .header-description {
    color: white;
    margin: 20px 0 20px 0;
}

/* My failure */
.my-failure {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.my-failure .section-text {
    margin-top: 100px;
}
.my-failure .section-description, .plan-description {
    margin: 10px 0 10px 0;
    font-weight: 500;
    color: rgb(50, 50, 50);
    letter-spacing: .1px;
}
.my-failure .failure-list {
    margin-bottom: 5px;
    font-weight: 500;
    color: rgb(57, 57, 57);
    letter-spacing: .1px;
}
.my-failure i {
    color: #16D887;
    margin-right: 5px;
}

/* My Plans */

.my-plan .plans {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.my-plan .plan {
    width: 200px;
    height: 200px;
    padding: 20px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.10);
}
.my-plan .section-title {
    text-align: center;
}
.my-plan .plan-title {
    text-align: center;
}
.my-plan .plan-image{
    margin: 0 auto !important;
    height: auto;
    width: 80px; 
}
.my-plan .plan-description {
    text-align: center;
}
.my-plan .section-description {
    text-align: center;
    margin: 40px 0 40px 0;
}