/* Global */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.btn-primary {
    color: #0055A5 !important;
    padding: 10px 10px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
    font-weight: bold;
}
.btn-primary:hover {
    color: #ffffff !important;
    background-color: transparent;
}



/* Header */
header {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}
.header-text {
    margin: 180px 0 0 530px;
    width: 450px;
    height: 230px;
    text-align: right;
    padding-bottom: 250px;

}
header .header-title {
    color: white;
    font-weight: 800;
    font-size: 55px;
}
header .header-description {
    color: white;
    margin: 20px 0 20px 0;
}